*
{
  margin:0;
  padding:0;
  /* list-style-type: none; */
  box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
}

.dropdown{
position: relative;
}

.dropdown_cnt{
  font-size: 13px;
  width: 210px;
  background-color: #fff;
  border: solid 1px #f5851f;
  border-radius: 3px;
  padding:  0;
  position: absolute;
  display: none;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12); 
}

.dropdown_ico{
  position: absolute;
  bottom: 9px;
  right: 10px;
} 

.dropdown_cnt a{
  font-family: 'Helvetica LT Std' !important;
  color: #f5851f !important;
}

.dropdown_cnt a:nth-child(2){
margin-top: .3rem;
}

.dropdown_cnt a:hover{
  color: #000 !important;
background-color: #f5851f;
transition: .8s;
}

.dropdown:hover .dropdown_cnt {
  display: block;
}

/**drop**/

.navbar{
      -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    background-color: rgba(255, 255, 255, 0.75);
}

.navbar-dark .navbar-nav .nav-link {
    color: #FF9800 !important;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #FFEB3B !important;
}

.navbar-dark .navbar-toggler {
    color: rgb(0, 0, 0);
    border-color: #FF9800;
}

.navbar-toggler {
    padding: .25rem .50rem;
    }


.navbar-brand span{
  font-size: 20px;
    font-family: 'Kuroneko DEMO';
    margin: 35px 0;
}

.ylw_act{
  color: #fff100 !important;
}

.wrapper_form {
  background: #50a3a2;
  background: linear-gradient(to bottom right, #FF8008 0%, #FFC837 100%);
  width: 100%;
  overflow: hidden;
  padding: 2rem 0;
  position: relative;
}
.wrapper_form .form-success  {
  -webkit-transform: translateY(85px);
          transform: translateY(85px);
}

.wrapper_form h1{
  font-family: 'Helvetica LT Std';
  font-weight: bold;
  font-size: 24px;
}

.form select {
-webkit-appearance:none;
}
.form select, option {
    padding-left: 30px;
}

.form input,.form select{
  display:inline-block;
  text-align: center;
  margin-top: 10px;
}

.form input::-webkit-input-placeholder { /* Edge */
  color: #fff;
}

.form input:-ms-input-placeholder { /* Internet Explorer */
  color: #fff;
}

.form input::placeholder {
  color: #fff;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


.wrapper_form form {
  padding: 20px 0;
  position: relative;
  z-index: 2;
}
.wrapper_form form input:hover, form select:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.wrapper_form form input:focus, form select:focus {
  background-color: white;
  width: 300px;
  color: #FF8008;
}
.wrapper_form form #login-button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #FF8008;
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  transition-duration: 0.25s;
  margin-top: 20px;
  box-shadow: 0 5px 10px -4px rgba(0, 0, 0,.7);
}
.wrapper_form form #login-button:hover {
  background-color: #f5f7f9;
}


.wrapper_form form #mlogin-button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #FF8008;
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  transition-duration: 0.25s;
  margin-top: 20px;
  box-shadow: 0 5px 10px -4px rgba(0, 0, 0,.7);
}
.wrapper_form form #mlogin-button:hover {
  background-color: #f5f7f9;
}

#mformsec input,select{
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.bg-bubbles {
  width: 100%;
  height: 100%;
  z-index: 1;
}
.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.15);
  bottom: -160px;
  -webkit-animation: square 25s infinite;
  animation: square 25s infinite;
  transition-timing-function: linear;
}
.bg-bubbles li:nth-child(1) {
  left: 10%;
}
.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 17s;
          animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) {
  left: 25%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-duration: 22s;
          animation-duration: 22s;
  background-color: rgba(255, 255, 255, 0.25);
}
.bg-bubbles li:nth-child(5) {
  left: 70%;
}
.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  background-color: rgba(255, 255, 255, 0.2);
}
.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}
.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
}
.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 10px;
  height: 10px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  background-color: rgba(255, 255, 255, 0.3);
}
.bg-bubbles li:nth-child(10) {
  left: 70%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
}
@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
  }
}
@keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
  }
}


/**scroll**/
.scrolldemo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.scrolldemo a:hover {
  opacity: .5;
}


#section10 a {
  padding-top: 60px;
}
#section10 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
#section10 a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/**scroll end**/

.navbar img
{
  width: 100px;
}

.nav-in ul li
{
  padding: 0 15px;
  font-family: 'Helvetica LT Std';
}

.navbar-dark .navbar-nav .active>.nav-link
{
  
      color:#fff100;
}




.travel h1
{
  font-size:42px;
  font-family: 'Helvetica LT Std'; 
}

.travel span
{
  font-size: 80px;
  font-family: 'Kuroneko DEMO';
  margin: 35px 0;
}


.cnt h3
{
  font-weight: bold;font-size: 45px;
}

.carousel-caption button
{
  color: #fff;
  font-weight: bold;
  border-radius: 15px;
    padding: 5px 26px;
    font-size: 15px;
background: rgba(6,127,73,1);
background: -moz-linear-gradient(left, rgba(6,127,73,1) 0%, rgba(43,174,218,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(6,127,73,1)), color-stop(100%, rgba(43,174,218,1)));
background: -webkit-linear-gradient(left, rgba(6,127,73,1) 0%, rgba(43,174,218,1) 100%);
background: -o-linear-gradient(left, rgba(6,127,73,1) 0%, rgba(43,174,218,1) 100%);
background: -ms-linear-gradient(left, rgba(6,127,73,1) 0%, rgba(43,174,218,1) 100%);
background: linear-gradient(to right, rgba(6,127,73,1) 0%, rgba(43,174,218,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#067f49', endColorstr='#2baeda', GradientType=1 );
 cursor: pointer;
 border: 0;
}

.carousel-caption button:focus
{
  outline: none;
  border: none;
}

.card a{
  text-decoration: none;
  color: #000;
}

.card-title
{
  font-weight: bold;
   /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f36e21+0,f8991d+99 */
background: #f36e21; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #f36e21 0%, #f8991d 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #f36e21 0%,#f8991d 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #f36e21 0%,#f8991d 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f36e21', endColorstr='#f8991d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
cursor:pointer;
padding: .5rem;
border-radius: 10px;
display: inline-block;
font-size: 16px;
box-shadow: 0 5px 10px -4px rgba(0, 0, 0,.7);
}

.card-body
{
  min-height: 170px;
  font-family: 'Helvetica LT Std';
}

.card-body h6{
  font-weight: bold;
}

.card-title1{
  font-size: 18px;
  font-weight: bold;
}

.card-body i{
  margin: 0 1rem;
}


.honey_btn{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f36e21+0,f8991d+99 */
background: #f36e21; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #f36e21 0%, #f8991d 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #f36e21 0%,#f8991d 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #f36e21 0%,#f8991d 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f36e21', endColorstr='#f8991d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
border:none;
border-radius: 10px;
box-shadow: 0 5px 10px -8px rgba(0, 0, 0,.7);
}

.honey_btn:active{
  outline: none !important;
  border:none !important;  
  box-shadow: none;
}

.btn:focus{
 outline: none !important;
  border:none !important;
  box-shadow: none; 
}

.cw{
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#social {
  position: fixed;
  left: 0;
  width: 35px;
  text-align: center;
  height: auto;
  top: 50%;
  transform:translateY(-50%);
  z-index: 3000;
  background-color:#F4F6F7;
  border-radius:50px;
  padding: 8px 0;
}

#social li {
     margin: 10px 0;
    list-style: none;
    font-size: 20px;
}


#social .fa {
  font-size: 22px;
  color: #9c47fc;
  display: block;
background: #f5851f;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   transition: transform .2s;
}



#social .fa:hover {
    font-size: 22px;
  color: #f8953b;
  display: block;
background: #f5851f;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;


    filter:brightness(140%);

}

#social li a,
#social li a:visited {
  color: #F4F6F7;
  padding: 0 0px;
}

#social li a:hover,
#social li a:visited:hover {
  color: #F4F6F7;
}

.carousel-caption {
  max-width: 468px;
    position: absolute;
    right: 15%;
    top: 20%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
}


.begun {
  max-width: 468px;
  max-height: 400px;
    position: absolute;
    right: 15%;
    top: 50%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
    z-index: 999;
    border-radius: 5px;
}



.carousel-indicators li {
    /* position: relative; */
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 5px;
    height: 5px;
    border-radius: 50px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(255,255,255,.5);
}

.carousel-indicators {
    left: auto;
}

/* .carousel-control-prev-icon
{
  background-image: url('../images/prev.png');
  width: 9px;
} */


/* .carousel-control-next-icon
{
  background-image: url('../images/next.png');
  width: 9px;
} */




.feed .carousel-indicators {
    left: 0;
    right: 0;
}


.card
{
transition: transform .2s;
  border-radius: 0;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    margin: 0 3px;
}
.card:hover {
    -ms-transform: scale(1.09); /* IE 9 */
    -webkit-transform: scale(1.09); /* Safari 3-8 */
    transform: scale(1.09);
    z-index: 1;

}

.card-img-top
{
  border-radius:0;
}

.cr { 
    background-image: url('../images/circle.png');
    background-repeat: no-repeat;
    background-attachment: relative;
    background-position: top right;
    background-color: #E6E7E8; 
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.fd:hover .image {
  opacity: 0.1;
}

.fd:hover
{
  background-color: #336699;
}

.fd:hover .middle {

  opacity: 1;
}

.text {
  color: #fff;
  font-size: 16px;
}


.v-center
{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
text-align:center;  
}


.career_text p
{
  margin: 0;
  font-size: 25px;
  font-weight: 400;
}

.career_text h3
{
  font-size: 60px;
}


.career_text_v_center
{
  position: absolute;
  top: 62%;
  transform: translateY(-62%);
}

.vision_text_v_center
{
  position: absolute;
  top: 45%;
  transform: translateY(-45%);
}

.vision_text h3
{
  font-size: 60px;
}


.vision_text p:nth-child(2)
{
  font-size: 28px;
}



.footer-bs {
font-family: 'Helvetica LT Std';
    background-color: #3c3d41;
  padding: 60px 40px;
  color: rgba(255,255,255,1.00);
  margin-bottom: 20px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 6px;
  margin: 0;
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px;display: block; }
.footer-bs p{
  margin: 0;
}
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:#000; }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
  margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }

.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {

  margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:#000; }

footer
{
     background:url(../images/whitecir.png) left bottom no-repeat, url(../images/footer.jpg) top center no-repeat;
}


.border-right {
    border-right: 1px solid #000!important;
}

footer h4
{
  font-size: 16px;
  font-weight: bold;
}

footer a
{
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

footer a:hover
{
  text-decoration: none;
  color: #fff;
}

.btm_nav li{
  color: #000 !important;
}

.social-block ul li
{
  display:inline-block;
}
 #textarea
 {
  min-height: 150px;
 }


#touch_us
{
position: absolute;
  left: 50%;
  width: 100%;
  top:18%;
  text-align: center;
  height: auto;
  transform:translate(-50%,18%);
  background-color:#fff;
  z-index: 1;
  border-radius: 3px;
}


.locatn
{
 background: url(../images/mobilelady.jpg) bottom center no-repeat;
 background-color: #1b4180;
}
.locatn ul li
{
  list-style-type: none;
  padding: 10px 0;
}

.locatn a
{
  color: #fff;
}


.feed
{
  min-height: 300px;
  background-color: #E6E7E8;
}

.feed h3
{
  text-align: left;
}

.arrow
{
    background: url(../images/lft.png) top left no-repeat, url(../images/rht.png) bottom right no-repeat;
    background-attachment: relative;

}


.begun p
{
    color: #000;
    font-size: 14px;
    line-height: 25px;
}

#r1
{
  background-color: #E6E7E8;
}


#r2
{

     position: relative;
}


#r2 .lhs
{
  position: absolute;
  bottom: -175px;
}

#r2 .rhs
{
  position: absolute;
  right: 0;
  bottom: -546px;
}


.agn_eql
{
  margin-top: 33px;
}


#r3
{
  
   background: url(../images/ladyvission.jpg) 600px bottom no-repeat;
   background-size: 1400px;
   background-color: #d0cbd1;
}

/* #r3 .chart
{
  max-width: 500px;
  min-height: 490px;
   background: url(../images/ladyvission.jpg) top center no-repeat;
    background-attachment: relative; 
}
 */
#market 
{
  position: relative;
}

#market img 
{
  position: absolute;
  right: 0;
}

#market,#sales
{
  background-color: #E6E7E8;
}

.cyan
{
  color: #00B3F0;
}

.carer_btn
{
    border-radius: 24px;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 22px;
    }

.ct_btn
{
      border-radius: 22px;
    font-size: 18px;
    font-weight: bold;
    padding: 2px 40px;
    background-color: #003C7F;
    }

.ct_btn:hover
{
 background-color: #0062cc;
}       

.ct_btn:focus
{
border:none;
} 

#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 0;
    right: 230px;
background-color: #f6841f;
    color: #1b1f1e;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    display: none;
}
#back2Top:hover {
    background-color: #ff9800;
    color: #2a2b6b;
}


.booknow{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f68b1f+4,fdb415+99 */
background: #f68b1f; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #f68b1f 4%, #fdb415 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #f68b1f 4%,#fdb415 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #f68b1f 4%,#fdb415 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f68b1f', endColorstr='#fdb415',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  padding:3% 0;
  font-family: 'Helvetica LT Std';
}


.book_center{
  width: 80%;
  margin: 0 auto;
}

#book_btn{
  background-color: #272729;
  font-weight: bold;
  color: #fa9f1b;
  padding: .5rem 1.5rem;
  border-radius: 10px;
  border: none;
  font-family: 'Helvetica LT Std';
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}


#book_btn:hover{
background-color:#404044;
color: #FFC107;;
transition: .5s;
}


.ctr_btn{
  margin: 0 auto;
  text-align: center;
}

#book_btn:active {
    outline: none;
    border: none;
}


.btn_line:before,.btn_line:after{
  content:" ";
  width: 500px;
  height: 2px;
  margin: 0 10px;
  vertical-align: super;
  background-color:#38383a;
  display:inline-block;
}


.title1{
  width: 100%;
  background-color: #e6e7e9;
  text-align: center;
  padding-top: 1.5rem;
  color: #414141;
  font-family: 'Helvetica LT Std';
}

.title1 p,.title1 h3{
  margin:0;
}

.title1 h3{
  font-weight: bold;
}

.drop{
    width: 100%;
  background-image:
    url(../images/land.jpg);
   background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 0rem 0rem;
  color: #fff;
  overflow: hidden;
}

.layer{
  width: 100%;
  padding: 2rem;
  background:rgba(0,0,0,0.7) ;
  /*position: absolute;*/
}


#book_btnred{
    background-color: #ed1b24;
    font-weight: bold;
    color: #fff;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    display: inline-block;
}

.gallery-block{
  padding-bottom: 60px;
  padding-top: 30px;
  background: url('https://subtlepatterns.com/patterns/sativa.png');
}

.gallery-block .card-body1{
min-height: 100px;
padding: .5rem;
background-color: #000;
color: #fff;
}


.gallery-block .heading{
    margin-bottom: 50px;
    text-align: center;
}

.gallery-block .heading h2{
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.gallery-block.cards-gallery h6 {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 0 0;
}

.gallery-block.cards-gallery .card{
  transition: 0.4s ease; 
}

.gallery-block.cards-gallery .card img {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15); 
}

.gallery-block.cards-gallery .card-body {
  text-align: center; 
}

.gallery-block.cards-gallery .card-body p {
  font-size: 15px; 
}

.gallery-block.cards-gallery a {
  color: #212529; 
}

.gallery-block.cards-gallery a:hover {
  text-decoration: none; 
}

.gallery-block.cards-gallery .card {
  margin-bottom: 30px; 
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

.card-body2{
min-height: 20px;
padding: .5rem;
text-align: center;
}

#book_btnylw {
    background-color: #f8981d;
    font-weight: bold;
    color: #fff;
    padding: .3rem 1rem;
    border-radius: 10px;
    border: none;
    font-size: 12px;
    margin-top: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}


.card-body3{
text-align: center;
color: #fff;
}

.place{
font-family: 'Helvetica LT Std';
font-weight: bold;
font-size: 15px !important;;
}


* {
  box-sizing: border-box;
}



.main-gallery {
  background: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  border-top: solid 10px #f68b1f;

}

.gallery-cell {
  width: 100%;
}

.testimonial {
  text-align: center;
  margin: 50px auto 80px auto;
  padding: 0 20px;
  overflow: hidden;
  font-family: 'Helvetica LT Std';
}

.testimonial h3{
  font-weight: bold;
}

.testimonial-avatar {
  width: 100px;
  border-radius: 50%;
}

.testimonial-quote {
  display: block;
  font-size: 24px;
  font-weight: 300;
  padding: 10px 0;
}

.testimonial-author {
  display: block;
  font-weight: 800;
  color: #f68b1f;
}

.flickity-page-dots {
  bottom: 25px;
}

.flickity-page-dots .dot.is-selected {
  background: #7AA641;
}

.btm_nav{
      display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btm_nav li{
  margin: 0 1rem;
}

.btm_social{
      display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btm_social li{
  margin: 0 1rem;
}


.besttxt{
  font-family: 'Helvetica LT Std';
  font-weight: bold;
  font-size: 36px;
}

.card-body1 .price{
   background: -webkit-linear-gradient(#f68a1f, #febd11);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Helvetica LT Std';
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card-body1 h6{
  font-size: 13px !important;
}

.card-body1 .amend{
  font-size: 12px;
}

.card-body2 h5{
  font-weight: bold;
}

.desc {
  position:absolute; /* Important */
  width:100%; /* Important */
  bottom:0; /* Important */
  left:0;
  background-color:rgba(0, 0, 0, 0.73);
  filter:alpha(opacity=50);
}

.desc .desctxt {
  padding:5px 15px;
  text-align:left;

}


.desc .price{
position: relative;
    bottom: 20px;
    background: -webkit-linear-gradient(#f68a1f, #febd11);
    color: #000;
    display: inline-block;
    padding: 0.5rem;
    border-radius: 8px;
    font-size: 13px;
  font-family: 'Helvetica LT Std';
  font-weight: bold;
  margin: 0;
 
}

.desc h6{
    font-size: 14px !important;
    color: #fff;
    position: relative;
    bottom: 8px;
}

.desc .amend{
  font-size: 12px;
  color: #fff;
   position: relative;
    bottom: 12px;
    margin: 0;
}

.desc1 {
  position:absolute; /* Important */
  width:100%; /* Important */
  bottom:0; /* Important */
  left:0;
  background-color:rgba(0, 0, 0, 0.73);
  filter:alpha(opacity=50);
  padding: .6rem 0;
}

.desc1 .place {
  padding:5px;
  text-align:center;
}

.blk-bg{
  background:rgb(41, 41, 41);
  display:block;
  position:fixed;
  z-index:999;
  /*width:99.15%;*/
  height: 36px;
  }
.fixed-top{
  top:33px!important;

  }
.top_strip{
  padding:0 33px 0 0; margin:0;
  }
.top_strip li{
  display:inline-block;
  padding:6px 2px;
  }
.top_strip li i{
  color:#fff;
  margin: 0 5px;
  }

.clr{
  clear:both;
  }

.cnt{
  padding: 5px 0 0 0;
      color: #fff;
}

.cnt:hover{
  text-decoration: none;
  color: #fff;
}

.cnt1{
      padding: 0 19px 0 0;
    color: #fff;
    border-right: solid 1px #fff;
}

.cnt1:hover{
   text-decoration: none;
  color: #fff; 
}


.cnt_mob{
  padding: 5px 0 0 0;
      color: #fff;
      display: none;
      
}

.cnt_mob:hover{
  text-decoration: none;
  color: #fff;
}

.cnt1_mob{
      padding: 0 19px 0 0;
    color: #fff;
    display: none;
  
}

.cnt1_mob:hover{
   text-decoration: none;
  color: #fff; 
}


label{
  font-family: 'Helvetica LT Std';
  font-weight: bold;

}


.crd_ico{
  margin: 1rem 0;
}

.crd_ico li{
    display: inline;
    float: left;
    margin: 0 .3rem;
    width: 38px;
    height: 30px;
    border-right: dotted 1px #000;
}

.crd_hght{
  min-height: 180px!important;
}


#thank_con{
  width: 100%;
  position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all .25s ease-in-out;
}

#thank_con h5{
  text-align: center;
  font-size: 1rem;
  color: #003102;
}

.cardbox_sec,.hotels_sec,.cardpack_sec{
  padding: 5rem 0;
  background-color: #E6E7E8;
}

.contact_sec{
  padding:5rem 0;
}


.contact_sec form{
border: solid 1px #cccccc4f;
    padding: 1rem;  
}

.contact_sec form input{
  border:none;
  border-bottom: solid 1px #FF9800;
  border-radius: 0;
}

.contact_sec form textarea{
  border:none;
  border: solid 1px #FF9800;
  border-radius: 0;
}


.contact_sec form input:focus{
  outline: none;
  border-bottom: solid 1px #FFC107;
  box-shadow: none;
  border-radius: 0;
}

.contact_sec form textarea:focus{
  outline: none;
  border: solid 1px #FFC107;
  box-shadow: none;
  border-radius: 0;
}

#contact_btn{
  background-color: #FF9800 !important;
  padding: .3rem 1.5rem;
  border: none;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

#map{
  width: 100%;
}


.c_heading{
  text-align: center;
  color: #383535;
  padding-bottom: 1rem;
}


.welcome_sec{
  padding: 5rem 0;
  font-family: 'Helvetica LT Std';
  background-color: #e9ecef;
}

.welcome_sec h2{
  font-weight: bold;
}


.welcome_sec h3{
  font-weight: lighter;
}

.welcome_sec p{
  font-size: 15px;
}

.welcome_sec .gallery-block{
  background: none;
  padding: 0;
}


.welcome_sec .desc1{
background-color: rgba(255, 152, 0, 0.75);
}


.quality_sec{
  padding: 3rem 0;
  font-size: 15px;
}


.why_sec{
  padding: 3rem 0;
  color: #fff;
  background-color: #f36e21;
  font-family: 'Helvetica LT Std';
}


.why_sec p{
  font-size: 15px;
  line-height: 1.5rem;
    text-align: justify;
  text-justify: inter-word;

}


.why_sec h3{
  font-size: 24px;
  font-weight: bold;
}

.why_btm p{
 font-size: 15px;
  line-height: 1.5rem;
    text-align: justify;
  text-justify: inter-word; 
}

.cruisecard_sec .title1 p{
  font-family: 'Helvetica LT Std';
  padding: .5rem  4rem;
  font-size: 15px;
}


.cruisecard_sec .card-body2{
  min-height: 650px;
  text-align: justify;
  padding: 1rem 2rem;
}


.cruisecard_sec .card-img-top{
  padding: .6rem;
}

.center_crd{
  padding: 2rem 10rem;
}

.elfsight-app-629ecf5f-9db3-403e-8959-07d7d72feb44{
  position: absolute !important;
}

.cVvwjZ {
  width: 36px !important;
  height: 36px !important;
}

.packlist{
  background-color: #ccc;
  padding: 3rem 0;
  overflow: hidden;
}

.honey_packlist{
  overflow: hidden;
}

.pact-txt{
  font-size: 14px;
  margin-bottom: 2rem;
}

.card-block{
  background: #fff;
}

.card-block h4{
  font-size: 1rem;
  font-weight: bold;

}

.card-block p{
  font-size: .8rem;
  line-height: 1.5rem;
  font-size: 14px;
  margin: 0;
}

.card-header{
  text-align: center;
  padding: 0.5rem 1rem;
  background: none;
}

#tour_btn {
    background-color: #f8981d !important;
    font-weight: bold;
    color: #fff;
    padding: .3rem 1rem;
    border-radius: 10px;
    border: none;
    font-size: 12px;
    margin-top: 1rem;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

.faci h6{
  margin-top: .8rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.card-block span{
  font-weight: bold;
  color: #16acdc;
}


.tour_icon .crd_ico{
  text-align: center;
}

.tour_icon .crd_ico li{
  float: none;
  text-align: center;
  border: none;
}


.grid_container{
  display: grid;
  grid-template-columns: 200px 100px;
}


.rate-block h5{
  font-size: 14px;
}

.rate-block{
  padding: .8rem 0;
}

.act_sec{
  background: #ccc;
  overflow: hidden;
}

.rate-block p:nth-child(1),.rate-block p:nth-child(2) {
  background-color: #dddddd;
}


.rate-block p:nth-child(5),.rate-block p:nth-child(6) {
  background-color: #dddddd;
}


.car_sec{
  background-color: #ccc;
  padding: 3rem 0; 
}

.car_sec h3{
    text-align: center;
    background: #FF5722;
    color: #fff;
    padding: .5rem 0;
    }

.rooms{
  padding: 3rem 0;
}


.room_slide span{
  font-size: 15px;
  font-weight: bold;
}

.hotel_name{
  margin-bottom: .5rem;
}


.room_slide .carousel-control-prev-icon
{
  background-image: url('../hotel_images/prev.png');
  
}


.room_slide .carousel-control-next-icon
{
  background-image: url('../hotel_images/next.png');
  
}

.modal-dialog .modal-content{
      background: linear-gradient(to bottom right, #FF8008 0%, #FFC837 100%);
}

.modal-header{
      padding: 0 .5rem;
      border-bottom: none;
}

.modal-body{
  padding: 0;
}


.baratang,.itinerary{
  padding: 3rem 0;
  font-family: 'Helvetica LT Std' !important;
}

.bg-head{
background-color: #FF9800;
}

.pack_detailtable,.price_detailtable{
  
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important; 
}

.vertical-center{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
}


.star{
  color: rgb(248, 248, 0);
}

/* Tabs*/

#tabs{
  background: #ee961b;
  font-family: 'Helvetica LT Std';
    color: #eee;
}
#tabs h6.section-title{
    color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #f3f3f3;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid !important;
    font-size: 18px;
    font-weight: bold;
}
#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #eee;
    font-size: 18px;
}


/* external css: flickity.css */


.carousel-cell {
  width: 28%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

.carousel-cell.is-selected {
  background: #ED2;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}


@media (min-width: 576px) {


  .gallery-block .transform-on-hover:hover {
      transform: translateY(-10px) scale(1.02);
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important; 
  }
}


@media (max-width: 576px) {

  .dropdown_cnt{
    font-size: 12px;
  width: 140px;
}

.dropdown_cnt .nav-link{
  padding: 0;
}

.top_strip li {
    padding: 6px 0px !important;
}


.cruisecard_sec .card-body2{
  min-height: 580px;
}

.cnt_mob,.cnt1_mob{
display: block;
}

.flickity-viewport{
  height: 420px !important;
}

.btm_social{
      display: grid;
    grid-auto-flow: column;
}

.testimonial
{
  margin: 0;
  padding: 1rem 0;
}
  .travel span{
    font-size: 57px;
  }

.title1 h3{
  font-size: 20px;
}

.drop h3{
  font-size: 18px;
}

#book_btnred{
  font-size: 14px;
}

.besttxt{
  font-size: 25px;
}

.blk-bg{
  padding: 0 !important;
}

.testimonial-quote {
    font-size: 18px;
    padding: 2rem;
}

#thank_con h5{
  font-size: .8rem;
}

.welcome_sec{
  padding: 2rem 0;
}


.welcome_sec h2{
  font-size: 1.5rem;
  padding: 0 .5rem;
}

.welcome_sec h3,.why_sec h3{
  font-size: 1.2rem;
  padding: 0 .5rem;
}

.welcome_sec p,.quality_sec p,.why_sec p,.why_btm p{
  font-size: .8rem;
  line-height: 1.2rem;
    text-align: justify;
  text-justify: inter-word;
  padding: 0 .5rem;
}

.quality_sec{
  padding: 2rem 0;
}

.cruisecard_sec .title1 p{
  padding: .8rem;
  font-size: 12px;
}

}


@media screen and (max-width:991px)
{

  .cnt1,.cnt{
    display: none;

  }
  
  .out{
    background: #000;
    position: absolute;
    left:0;
    top: 0;
    width:50%;
    text-align: center;
    height: 100vh;  
    left:-50%;
    transition: 0.5s all ease-in-out;
  }

  .in{
  left:0;
  top: 0; 
  }
  
  /* mobile menu toggle button */
.menu-toggle {
  position: relative;
  display:  inline-block;
  width: 40px;
  height: 30px;
}
.menu-toggle span {
  margin: 0 auto;
  position: relative;
  top: 14px;
  transition-duration: 0s;
  transition-delay: .2s;
  transition: background-color 0.3s;
}
.menu-toggle span:before, .menu-toggle span:after {
  position: absolute;
  content: '';
}
.menu-toggle span, .menu-toggle span:before, .menu-toggle span:after {
  width: 33px;
  height: 3px;
  background-color: #1f0000;
  display: block;
  opacity: 1;
}
.menu-toggle span:before {
  margin-top: -8px;
  transition-property: margin, transform;
  transition-duration: .2s;
  transition-delay: .2s, 0;  
}
.menu-toggle span:after {
  margin-top: 8px;
  transition-property: margin, transform;
  transition-duration: .2s;
  transition-delay: .2s, 0;  
}

.menu-toggle-active span {
  background-color: rgba(0,0,0,0);
  transition: 0.3s background-color;
}
.menu-toggle-active span:before {
  margin-top: 0;
  transform: rotate(45deg);
  transition-delay: 0, .2s;
}
.menu-toggle-active span:after {
  margin-top: 0;
  transform: rotate(-45deg);
  transition-delay: 0, .2s;
}


.cr { 
    background-image: url('../images/circle.png');
    background-repeat: no-repeat;
    background-attachment: relative;
    background-position: top right; 
  background-size:200px;
}

#r3 img
{
  width: 500px;
}

.travel h1
{
  font-size:28px;
}

.travel p
{
  font-size: 24px;
}

.btm_nav{
  display: none;
}



}

@media only screen and (max-width : 1279px) {
.btn_line:before,.btn_line:after{
  display: none;
  }
}

@media only screen and (max-width : 1440px) {

.btn_line:before,.btn_line:after{
  width: 300px;
  }

}





@media only screen and (max-width : 1700px) {
footer
{
     background:url(../images/footer.jpg) top center no-repeat;
}

}


@media only screen and (max-width : 991px) {

.dropdown_cnt{
  position: relative;
    margin: 0 auto;
}

}



@media only screen and (max-width : 768px) {

  body p,ul li
  {
  font-size: 14px;
  }

  .grid_container {
    grid-template-columns: 150px 100px;
}

  .card-block{
    padding: 1rem !important;
  }
  
  .center_crd{
    padding: 0;
  }
  
.bg-bubbles li:nth-child(5) {
  left: 25%;
}

.bg-bubbles li:nth-child(6) {
  left: 40%;
}

.bg-bubbles li:nth-child(9) {
  left: 10%;
}

.bg-bubbles li:nth-child(10) {
  left: 30%;
}

form input, form select{
  margin: 0;
}

.navbar img
{
  width: 65px;
}

  .demo .border-right{
    border-right:0 !important;
  }

  .carousel-caption
  {
    max-width: 300px;
  }

  .feed h3,.feed p
  {
    text-align: left;
  }

.travel h1
{
  font-size:26px;
}

.travel p
{
  font-size: 18px;
  margin: 16px 0;
}

.begun p
{
    color: #000;
    font-size: 10px;
    line-height: 14px;
}

.card-body
{
  min-height: 186px;
}

.career_text h3
{
  font-size: 48px;
}

.career_text p
{
  font-size: 20px;
}


.vision_text h3
{
  font-size: 45px;
}


.vision_text p:nth-child(2)
{
  font-size: 20px;
}


#r2 img
{
  display: none;
}

#market img
{
  display: none;
}

#r3
{
  background: none;
   background-color: #d3ced4
}

.cnt h3
{
 font-size: 32px;
}

.ct_btn
{
  font-size: 15px;
}

#back2Top
{
opacity: 0;
}

}


